<h2 class="{{{headingClassName}}}">{{{title}}}</h2>
<form class="{{{formClassName}}}" name="{{{formName}}}" novalidate>
  <fieldset class="{{{fieldsetClassName}}}">{{{inputs}}}</fieldset>
  {{{buttons}}}
</form>
