<section class="messages__chats">
  <div class="messages__buttons-container">
    {{{createButton}}}
    {{{profileButton}}}
  </div>
  {{#if isCreateMode}}
    <div class="messages__create-container">
      {{{inputTitleChat}}}
      {{{sendButton}}}
    </div>
  {{/if}}
  {{{chatList}}}
</section>
{{{messageWindow}}}
