{{{avatar}}}
<h2 class="profile-container__heading">{{{title}}}</h2>
<form class="profile-form" name="{{{formName}}}" novalidate>
  <fieldset class="profile-form__fieldset">{{{inputs}}}</fieldset>
  {{{buttons}}}
</form>
