{{#if withEditSpan}}
  <span class="edit-label__span">{{{spanText}}}</span>
{{/if}}
<input
  id="{{{inputId}}}"
  class="{{{inputClassName}}}"
  type="{{{inputType}}}"
  name="{{{inputName}}}"
  required
  minlength="2"
  maxlength="40"
  placeholder="{{{placeholder}}}"
  autocomplete="{{{autocomplete}}}"
  {{#if pattern}}pattern="{{{pattern}}}"{{/if}}
  {{#if disabled}}disabled{{/if}}
  {{#if value}}value="{{{value}}}"{{/if}}
>
<span class="error-span {{{errorSpanClassName}}} {{{inputId}}}-error"></span>
