<label class="edit-label">
  <span class="edit-label__span">{{{spanText}}}</span>
  <input
    id="{{{inputId}}}"
    class="edit-label__input"
    type="{{{inputType}}}"
    name="{{{inputName}}}"
    required
    minlength="2"
    maxlength="40"
    placeholder="{{{placeholder}}}"
    value="Hello"
    disabled
  >
</label>
